<div class="currency-card_container">
    <div class="currency-card">
      <div class="currency-card__content">
        <p>1 EUR = 3 USD</p>
      </div>
    </div>
    <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div> 
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div> 
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
      <div class="currency-card">
        <div class="currency-card__content">
          <p>1 EUR = 3 USD</p>
        </div>
      </div>
  </div>
  
    